.App-header {
  background-color: #e1ab5b;
  min-height: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 14.46px;
  font-weight: bold;
  color: #ffffff;
}

.App-logo {
  filter: invert(94%) sepia(76%) saturate(0%) hue-rotate(173deg)
    brightness(105%) contrast(105%);
  height: 24px;
  pointer-events: none;
}

.App-title {
  padding-bottom: 5px;
}

.cards--list {
  background-color: #ffffff;
  min-height: 100%;
}
